<tr>
  <td> <%= image_tag order.product.image.tiny.url %> </td>
  <td> <%= order.product.name %> </td>  
  <td> <%= order.product.description %> </td>
  <td> <%= order.quantity %> </td>
  <td> <%= humanized_money_with_symbol order.total_price_cents / 100.0 %></td>
</tr>


